$black: #000000;

$grey-1: #fafafa;
$grey-2: #f4f4f5;
$grey-3: #e4e4e7;
$grey-4: #d4d4d8;
$grey-5: #a1a1aa;
$grey-6: #71717a;
$grey-7: #52525b;
$grey-8: #3f3f46;
$grey-9: #27272a;
$grey-10: #18181b;
$grey: $grey-5;

$white: #ffffff;

$primary: #dcc69c;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: $grey-9;
$dark-page: $grey-10;
$light: $grey-2;
$light-page: $grey-1;

$positive: #22c55e;
$negative: #f04118;
$info: #00c2f0;
$warning: #f0b018;
